body
{
	background-color:grey;
	margin:0px;
}
#main1
{
	background-color:green;
	color:white;
	border-radius:5px;
	margin:10px;
	padding:20px;
	overflow:hidden;
	height:120px;	
}
#main2
{
	background-color:black;
	color:white;
	border-radius:5px;
	margin:10px;
	padding:20px;
	height:120px;
	overflow:scroll;	
}
